* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; 
}

main {
    display: flex; 
    height: 100vh; 
}

.left {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    position: relative; 
}

.title {
    font-size: 9em; 
    color: black; 
    z-index: 10; 
    position: absolute; 
    top: 30%; 
    left: 100%; 
    transform: translate(-50%, -20%); 
    letter-spacing: 0.1em; 
    white-space: nowrap; 
}

.image {
    max-width: 100%; 
    height: auto; 
}

.right {
    flex: 1; 
    background-color: gray; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 450px; 
    color: rgb(171, 11, 11);
    font-size: 4em; 
    letter-spacing: 0.2em; 
    font-weight: bold; 
}
